header {
  background-image: -webkit-linear-gradient(50deg, navy, blue);
  color: white;
  justify-content: center;
  text-align: center;
}

img {
  width: 85px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.card {
  margin-left: 4px;
}
button {
  display: flex;
  align-items: center;
}
